@charset "utf-8";

body {
    background: pink;
    margin: 0 auto;
    text-align: center;
    
}

#conteneur {
    margin: 0 auto;
    width: 1000px;
}

header {
    margin: 0 auto;
    text-align: center;
    font-size: 1.8em;
}
h1, h2 {
    font-size: 0.8em;
}

img {
    float: left;
}

.menu {
    float: right;
}

.resto_01 {
    float: right;
}
footer {
    height: 500px;
    border: 2px solid white;
}