@charset "utf-8";

body {
    background: bisque;
    margin: 0 auto;
    color: black;
}
#conteneur {
    margin: 0 auto;
    width: 80%;
    background: linear-gradient white;
}
ul li { /* centrer la liste */
    display: inline-block;
    text-align: center;
}
